.col-sm-6{
	background-color: #003399;
	border-radius: 3%;
}

.course{
	background-color: aqua;
	border-radius: 5%;
	max-width: 100%; 
	max-height: 100%;
	margin-bottom: 5px;
}
.courseTitle{
	text-align: center;
	/*margin-left: 10px;
	padding-top: 50px;*/
	
}

h1 .btn-group { 
	display: inline-block; 
	float: right;
	margin-top: 2px;
	margin-right: 2px;
	margin-bottom: 2px;
}


.addtowaitlistButton{
	display: inline-block;
}


/*
.waitlist{
	text-align: center;
}
*/

.waitlistTitle{
	background-color: #FF4D4D;
}


.form-signin {
  max-width: 225px;
  padding: 5px;
  margin: 0 auto;

}

/*
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}


.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
*/

.tutorTable{	
	border: 1px solid grey;
	text-align: center;	
	margin-bottom: 30px;
	width: 100%;
}

.tutorTableColumn{
	padding: 5px;
	text-align: center;	
	background-color: #FBEFF5;
	color: black;
	
}

.tutorRow{
	background-color: #ACACAE;
}

#cse12Table{
	border: 1px solid grey;
	text-align: center;
	margin-bottom: 30px;
	width: 100%;
}

.col{
	padding: 5px;
	text-align: center;
	background-color: #bcb8b8;
	color: black;
}


tr{
	background-color: #8AC007;
	color: white;
}


